Repository unknownCoderDetected/THRO-DevOps, changes with the labels that .github/labeler.yml gives for each.
All labels: REPO, TEST, FRONTEND, BACKEND

.github/labeler.yml:

REPO:
  - '*'
TEST:
  - src/test/**/*.spec.js
FRONTEND:
  - any: ['src/frontend/**/*', '!src/frontend/docs/*']
BACKEND:
  - any: ['src/backend/**/*', '!src/backend/docs/*']

Update and rename AutomateCreatingIssues.yml to PullRequestLabeler.yml
  .github/workflows/AutomateCreatingIssues.yml
  .github/workflows/PullRequestLabeler.yml
Labels: none

Add package.json to initialize npm project
  package.json
Labels: REPO

Add index frontend file
  src/frontend/index.js
Labels: FRONTEND

Add simple markdown file to project
  src/frontend/docs/setup.md
Labels: none

Create greetings.yml
  .github/workflows/greetings.yml
Labels: none

Create node.js.yml
  .github/workflows/node.js.yml
Labels: none

Update node.js.yml
  .github/workflows/node.js.yml
Labels: none
